* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid red;
}

html,
body {
	margin: 0;
	padding: 0;
}

header {
	background: #2a313c;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}

#hamburguer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 16rem;
}

#hamburguer button {
	width: 2rem;
	height: 2rem;
	position: sticky;
	/* display: flex; */
	border: none;
	padding: 0;
	background: linear-gradient(
		to bottom,
		white,
		white 20%,
		#2a313c 20%,
		#2a313c 40%,
		white 40%,
		white 60%,
		#2a313c 60%,
		#2a313c 80%,
		white 80%,
		white 100%
	);
}

#hamburguer button:hover {
	cursor: pointer;
}

#hamburguer nav {
	position: fixed;
	top: 4rem;
	left: 0;
	background: #2a313c;
	height: 100vh;
	width: 10rem;
	padding: 0;
	text-align: left;
	color: white;
}


#hamburguer h1 {
	font-size: x-large;
	font-weight: 10;
}

#hamburguer h2 {
	cursor: default;
	font-size: x-large;
	font-weight: 800;
}

#hamburguer h3 {
	font-size: large;
	font-weight: 100;
}

h2 {
	font-size: medium;
	color: white;
	font-weight: 10;
	margin: 1rem;
}

h2:hover {
	cursor: pointer;
	color: #a5c1ee !important;
}

#socials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 8rem;
}

#socials a {
	text-decoration: none;
}

#socials  a:visited {
	color: white;
}

#socials  a:link {
	color: white;
}

#socials i {
	font-size: 2.5rem;
}

main {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

#about p {
	margin: 1rem 1rem 2rem 1rem;
	text-align: justify;
	max-width: 40rem;
}

#resume-button {
	text-decoration: none;
	border: 2px solid #2a313c;
	background: #2a313c;
	color: white;
	border-radius: 10rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

#resume-button:visited {
	color: white;
}

#resume-button:hover {
	box-shadow: 0 0 3px 1px rgb(147, 147, 147);
}

#about img {
	border-radius: 10rem;
	width: 15rem;
	/* margin-top: 1rem; */
}

#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: inherit;
}

#projects img {
	margin: 2rem;
	width: 30rem;
	min-width: 10rem;
	border-radius: 5rem;
}

#projects a {
	text-decoration: none;
}

#projects a:visited {
	color: black;
}

figure {
	text-align: center;
}

figcaption {
	font-size: larger;
	font-weight: 600;
}

#certifications img {
	margin: 2rem;
	width: 30rem;
	min-width: 10vw;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}
