* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
}

header {
	background: #2a313c;
	color: white;
	display: flex;
	justify-content: space-between;
}

header h1 {
	margin: 1rem;
}

header a {
	text-decoration: none;
	margin: 1rem;
}

header a:visited {
	color: white;
}

header a:link {
	color: white;
}

i {
	font-size: 2.5rem;
}

nav {
	float: left;
	background: whitesmoke;
	padding: 1rem;
	height: calc(100vh - 100%);
}

h2 {
}

h2:hover {
	cursor: pointer;
	color: #444f61;
}
