* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

header {
	background: #2a313c;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

header h1 {
	margin-left: 1rem;
}

#name {
	font-size: x-large;
	font-weight: 10;
	margin-left: 9rem;
}

header a {
	text-decoration: none;
	margin: 1rem 1rem 1rem 0.5rem;
}

header a:visited {
	color: white;
}

header a:link {
	color: white;
}

header:hover {
	cursor: default;
}

i {
	font-size: 2.5rem;
}

nav {
	float: left;
	background: #2a313c;
	height: 100vh;
	width: 10rem;
	position: fixed;
}

h2 {
	font-size: medium;
	color: white;
	font-weight: 10;
	margin: 1rem;
}

h2:hover {
	cursor: pointer;
	color: #a5c1ee !important;
}

main {
	width: calc(100vw - 10rem);
	float: right;
	display: flex;
	justify-content: space-evenly;
}

#about p {
	margin: 5vh 30vw 5vh 30vw;
	text-align: justify;
}

#resume-button {
	text-decoration: none;
	border: 2px solid #2a313c;
	background: #2a313c;
	color: white;
	border-radius: 10rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
	margin-left: calc(50vw - 8.5rem);
}

#resume-button:visited {
	color: white;
}

#about img {
	border-radius: 10rem;
	width: 15rem;
	margin-top: 5vh;
}

#certifications img {
	margin: 2rem;
	width: 30rem;
}

#projects {
	display: flex;
}

#projects img {
	margin: 2rem;
	width: 20rem;
	border-radius: 5rem;
}

#projects a {
	text-decoration: none;
}

#projects a:visited {
	color: black;
}

figure {
	text-align: center;
}
