.carousel-slides {
	display: flex;
	justify-content: center;
}

.slide {
	text-align: center;
	background: gainsboro;
}

.slide > img {
	height: 60vh;
	max-width: 100vw;
	background: #f8f9fa;
	/* filter: brightness(80%); */
}

.slide:hover {
	cursor: pointer;
}

.mission {
	text-align: center;
	margin: 1rem;
	/* border: 1px solid red; */
}

.caption {
	color: black;
	cursor: pointer;
	/* border: 1px solid red; */
}

.brand-name {
	cursor: default;
}

.cards {
	display: flex;
	justify-content: center;
	/* margin: auto; */
	/* border: 2px solid red; */
}

.card {
	max-width: 20rem;
	margin: auto;
	margin-top: 2rem;
	height: min-content;
	/* border: 2px solid red; */
}

.timelines {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin-top: 2rem;
	/* border: 2px solid red; */
}

.timeline {
	margin: 1rem 0 0 0;
	/* width: 100vw; */
	/* border: 2px solid red; */
}

.timeline i {
	font-size: 1.1rem;
	color: rgb(62, 62, 62);
}

.footer {
	margin: auto;
}

.divider {
	margin: 5rem;
}
