.carousel-slides {
	display: flex;
	justify-content: center;
}

.slide {
	text-align: center;
	background: gainsboro;
}

.slide > img {
	height: 60vh;
	max-width: 100vw;
	background: #f8f9fa;
	/* filter: brightness(80%); */
}

.slide:hover {
	cursor: pointer;
}

.poem {
	text-align: center;
	margin: 2rem;
	/* border: 1px solid red; */
}

.poem footer {
	margin-top: 2rem;
	/* border: 1px solid red; */
}

.caption {
	color: black;
	cursor: pointer;
	/* border: 1px solid red; */
}

.brand-name {
	cursor: default;
}

.item-cards {
	display: flex;
	justify-content: center;
	/* margin: auto; */
	/* border: 2px solid red; */
}

.item-card {
	max-width: 20rem;
	margin: auto;
	margin-top: 2rem;
	height: min-content;
	/* border: 2px solid red; */
}

.timelines {
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 40vw; */
	margin: 1rem 0 0 0;
}

.timeline {
	/* border: 2px solid blue; */
	margin: 1rem 0 1rem 0;
	/* width: 100%; */
}

.footer {
	margin: auto;
}

.divider {
	margin: 5rem;
}

.loader {
	position: absolute;
	left: 50vw;
	top: 30vh;
}

.fade-enter {
	opacity: 0;
	/* transform: translate(0, 100vh); */
	/* z-index: 1; */
}

.fade-enter.fade-enter-active {
	opacity: 1;
	/* transform: translate(0, 0); */
	transition: opacity 250ms ease-out;
}

.fade-exit {
	opacity: 1;
	transform: translate(0, 100vh);
}

.fade-exit.fade-exit-active {
	opacity: 0;
	/* transform: translate(0, 30rem); */
	transition: opacity 250ms ease-in;
}
